<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<h1>Для авторизации заполните запрашиваемые данные:</h1>
  <form method="post" action="">
    <label for="username">Логин:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Пароль:</label>
    <input type="password" id="password", name="password" required>
    {% csrf_token %}
    <button type="submit">Отправить</button>
  </form>
</body>
</html>